@use "/node_modules/bootstrap/scss/bootstrap.scss";

body {
  height: 100vh;
  color: white;
}
header,
#project,
#home {
  background: #757f9a; /* fallback for old browsers */

  background: linear-gradient(
    to top,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg_color {
  background: #757f9a; /* fallback for old browsers */

  background: linear-gradient(
    to bottom,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn_color:hover {
  border-bottom: #757f9a solid 2px;
  color: #d7dde8;
}
.bg_image {
  background-image: url(../assets/office-925806_1280.jpg);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}

#contact {
  background-color: #757f9a;
}

.container_form {
  padding: 30px;
  box-shadow: 1px 0px 9px 3px;
}
.contact_btn,
.project_btn {
  background-color: #d7dde8;
}

#about {
  color: black;
}
#footer {
  background-color: #757f9a;
}
